<ul class="list-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">
  <li class="repo-container" *ngFor="let item of items">

    <div class="avatar-box box">
      <img [src]="item.owner.avatar_url">
    </div>

    <div class="infos">
      <div class="name-box box">
        <small>{{item.name}}</small>
      </div>

      <div class="desc-box box">
        <small>{{item.description}}</small>
      </div>

      <div class="info-box box">
        <small>Stars: {{item.stargazers_count}}</small>
        <small>Issues: {{item.open_issues}}</small>
      </div>

      <div class="sub-box box">
        <small>Submitted {{item.created_at}} by {{item.owner.login}}</small>
      </div>

    </div>
  </li>
</ul>

<router-outlet></router-outlet>
