.list-container {
  margin: 30px;

  .repo-container {
    display: grid;
    grid-template-columns: 160px auto;
    grid-template-rows: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;

    .avatar-box {
      grid-row: row 1;

      img {
        display: block;
        width: 140px;
        border-radius: 5px;
      }
    }

    .infos {
      display: grid;
      grid-column: 2 / span 1;
      grid-template-columns: 50% auto;
      grid-row: row 1;
      grid-template-rows: 25px auto 35px;

      .name-box {
        grid-column: 1 / 3;
        grid-row: 1;
        text-transform: capitalize;
      }

      .desc-box {
        grid-column: 1 / 3;
        grid-row: 2;
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        text-align: justify;
      }

      .info-box {
        grid-column: 1;
        grid-row: 3;
        display: block;
        margin: auto auto auto 0;

        small {
          border: 1px solid black;
          border-radius: 5px;
          margin-right: 10px;
          padding: 5px;
        }
      }

      .sub-box {
        grid-column: 2;
        grid-row: 3;
        display: block;
        margin: auto auto auto 0;
      }
    }
  }
}
